{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content%}
<h1 align="center">Your active Courses</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for course in user.courses %}
  <li class="list-group-item">
    {{ course.data }}
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <!--TUTAJ COS DO WYSWIETLANIA KURSÓW <textarea name="course" id="course" class="form-control"></textarea>-->
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Sign up for a new Course</button>
  </div>
</form>
{% endblock %}